@import "settings"
@import "media"

//body input:focus:required:invalid,
//body textarea:focus:required:invalid
//  border: 1px $green
//body input:required:valid,
//body textarea:required:valid
//  border: 1px $green
.fr
  float: right

.item_center
  text-align: center

a, .col67, .col65
  -webkit-transition: all 0.30s ease-in-out
  -moz-transition: all 0.30s ease-in-out
  -ms-transition: all 0.30s ease-in-out
  -o-transition: all 0.30s ease-in-out

input[type=text],input[type=password],input[type=email], textarea, select
  -webkit-transition: all 0.30s ease-in-out
  -moz-transition: all 0.30s ease-in-out
  -ms-transition: all 0.30s ease-in-out
  -o-transition: all 0.30s ease-in-out
  outline: none
  padding: 3px 0px 3px 3px
  margin: 5px 1px 3px 0px
  border: 0
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px

body input:focus, select:focus, textarea:focus
  box-shadow: 0 0 1px 2px $yellow

body input:invalid
  box-shadow: 0 0 1px 2px $inactive
.block_wrap
  height: 300px
  background-color: $yellow
  border-radius: 5px
  overflow: hidden
  .hideup
    margin-top: -50px
  .hidedown
    margin-top: 200px
.sw
  -webkit-transition: all 0.30s ease-in-out
  -moz-transition: all 0.30s ease-in-out
  -ms-transition: all 0.30s ease-in-out
  -o-transition: all 0.30s ease-in-out
.block_header
  width: 100%
  background-color: $blue
  line-height: 40px
  color: $text_white
  font-size: 15px
  font-family: Montserrat-Bold, sans-serif
  padding-left: 20px
.bold_text
  font-family: Montserrat-Bold, sans-serif
  color: $text_grey
  font-size: 15px
.button
  -webkit-transition: all 0.30s ease-in-out
  -moz-transition: all 0.30s ease-in-out
  -ms-transition: all 0.30s ease-in-out
  -o-transition: all 0.30s ease-in-out
  outline: none
  border: 0
  background-color: $yellow
  color: $text_white
  cursor: pointer
.big_button
  cursor: pointer
  -webkit-border-radius: 18px
  -moz-border-radius: 18px
  border-radius: 18px
  width: 155px
  height: 35px
  padding-top: 7px
  text-align: center
.small_button
  -webkit-border-radius: 11px
  -moz-border-radius: 11px
  border-radius: 11px
  width: 110px
  height: 21px

body
  margin: 0
  padding: 0
  font-family: Montserrat-Regular, sans-serif

.entrance
  padding-top: 20px
  background: url(../images/pattern.png) repeat center

  .lang_selector
    padding-top: 20px
    color: $text_white
    cursor: pointer
    float: right


.login_form_wrapper
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  margin: auto
  height: 340px
  width: 430px
  background-color: $green
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px
  padding: 15px 50px

  .greetings
    .logo_hero_wrapper
      padding-top: 5px
    .p0
      padding: 0

  .text_wrapper
    color: $text_white
    .hello
      font-family: Montserrat-Bold, sans-serif
      font-size: 19pt
    .hello_text
      font-size: 8pt
      line-height: 9.6pt
  .form_wrapper
    padding-top: 20px
    text-align: center

    .input_wrapper
      position: relative
      .login_img, .passwd_img
        position: absolute
        top: 16px
        left: 10px
        width: 20px
        height: 22px
      .login_img
        background: url(../images/things.png) no-repeat
        //background-size: 100px 100px
        background-position: -208px -6px
      .passwd_img
        background: url(../images/things.png) no-repeat
        background-position: -208px -43px


    .input_form
      padding-left: 50px
      width: 100%
      height: 36px
      margin-top: 10px
    .button
      margin-top: 25px
  .post_text
    text-align: center
    padding-top: 10px
    margin: 0 auto
    font-size: 6pt
    line-height: 7.2pt
    width: 155px
    color: $text_white


.head
  position: fixed
  top: 0
  width: 100%
  height: 47px
  background-color: $blue
  padding: 0px 20px
  z-index: 10000
  box-shadow: 0px 0px 3px rgba(0,0,0,0.8)

.left_wrapper
//  someshit
.item
  display: inline-block
  float: left
  padding: 10px 10px
  height: 47px
  cursor: pointer
  color: $text_white

.item:hover
  color: $hover_text_white

.item.active
  background-color: $yellow

.wrap_menu_img, .wrap_logout_img
  padding: 10px 5px
.wrap_menu_img.menu_opened
  background-color: $green

.menu_img, .account_img, .logout_img
  width: 20px
  height: 22px
  background: url(../images/things_normal.png) no-repeat
  -webkit-background-size: 590px 67px
  background-size: 590px 67px
.menu_img
  background-position: -129px -3px
.account_img
  background-position: -102px -3px
.logout_img
  background-position: -102px -40px

.right_wrapper
  font-size: 12pt
  line-height: 20pt
  float: right
  .item
    margin: 0 10px
  .lang_selector
    margin-left: 80px
    margin-right: 10px
    font-size: 10pt
    line-height: 20pt

.content, .achievements, .courses_content, .rasp_content, .rasp_news, .lab_content, .pay_content, .contacts_content, .help_content
  margin-top: 15px

.wrap_grey
  padding: 30px 20px
  background-color: $lightgrey
  border-radius: 5px
  width: 100%
  .user_info_wrapper>*
    display: inline-block

  .user_img_wrapper
    img
      border-radius: 50%
  .name_lvl_wrapper
    padding-top: 5px
    margin-left: -15px
    .user_name
      font-size: 17px
      line-height: 20px
      font-family: Montserrat-Bold, sans-serif
    .user_lvl
      font-size: 12px
      font-family: Montserrat-Medium
      line-height: 13px

.user_stat_wrapper
  padding-top: 20px
  .label, .user_value
    font-size: 11px
    font-family: Montserrat-Bold, sans-serif
    line-height: 12pt
  .label
    color: $green
  .user_value
    margin-right: 5px
.courses_list_wrapper
  .scrollable
    overflow-y: scroll
    height: 420px
    display: block
  .ach
    margin-bottom: 0px
    margin-top: 30px
  p
    font-size: 11px
    line-height: 12pt
    font-family: Montserrat-Bold, sans-serif
  .current_course
    text-align: center
    padding: 25px 0px 0
    margin-bottom: 25px
    position: relative
    .text
      bottom: -35px
      position: absolute
      width: 100%
      font-size: 9px
      line-height: 10px
      font-family: Montserrat-Medium, sans-serif
    .img
      margin: 0 auto
      width: 30px
      height: 30px
      background: url(../images/things_normal.png) no-repeat
      -webkit-background-size: 590px 67px
      background-size: 590px 67px
    .game_done
      background-position: 1px 1px
    .game_undone
      background-position: 1px -37px
    .star_done
      background-position: -34px 1px
    .star_undone
      background-position: -34px -37px
    .lvl_done
      background-position: -67px 1px
    .lvl_undone
      background-position: -67px -37px

.main
  margin-top: 47px
  .container
    width: 100%
  .menu,.content,.achievements,.courses_content, .rasp_content, .rasp_news, .lab_content, .pay_content, .contacts_content, .help_content
    float: right
    -webkit-transition: all 0.30s ease-in-out
    -moz-transition: all 0.30s ease-in-out
    -ms-transition: all 0.30s ease-in-out
    -o-transition: all 0.30s ease-in-out
  .menu
    min-width: 210px
    padding-right: 0
    position: fixed
    display: inline-block
    height: 100%
    background-color: $green
    left: -250px
    width: 0
    z-index: 1000
    .menu_items
      z-index: 1
      position: relative
      padding-left: 0
      margin: 0
      list-style-type: none
      .menu_item
        background-color: $green
        -webkit-transition: all 0.30s ease-in-out
        -moz-transition: all 0.30s ease-in-out
        -ms-transition: all 0.30s ease-in-out
        -o-transition: all 0.30s ease-in-out
        .item_wrap
          position: relative
          height: 50px
          line-height: 50px
          padding-left: 50px
          font-size: 16px
          font-family: Montserrat-Medium, sans-serif
          color: $text_white
          cursor: pointer
        .item_wrap>*
          font-family: Montserrat-Medium, sans-serif
        .fa-caret-down
          position: absolute
          top: 18px
          right: 15px
        .item_img
          margin-left: -25px
          padding-right: 20px
          margin-bottom: -2px
          display: inline-block
          width: 16px
          height: 16px
          background: url(../images/things_normal.png) no-repeat
          -webkit-background-size: 590px 67px
          background-size: 590px 67px
        .item_rasp
          background-position: -132px -45px
        .item_courses
          background-position: -163px -6px
        .item_lab
          background-position: -164px -45px
        .item_pay
          background-position: -188px -6px
        .item_help
          background-position: -188px -45px
        .item_courses_1, .item_courses_2, .item_courses_3
          background: url(../images/gamepads.png) no-repeat
          background-size: 14px 84px
        .item_courses_1
          background-position: 0px -33px
        .item_courses_2
          background-position: 0 0
        .item_courses_3
          background-position: 0 -70px
      .menu_item.sub_mt
        margin-top: 150px
      .menu_item.active
        background-color: $yellow
      .submenu_item
        padding-left: 25px
        background-color: $lightyellow
      .submenu_item.active
        background-color: $yellow
    .submenu_items
      z-index: -1
      -webkit-transition: all 0.30s ease-in-out
      -moz-transition: all 0.30s ease-in-out
      -ms-transition: all 0.30s ease-in-out
      -o-transition: all 0.30s ease-in-out
      width: 100%
      position: absolute
      top: 100px
      padding-left: 0
      list-style: none
    .submenu_items.sub_closed

      top: 0
      opacity: 0


  .menu.menu_opened
    left: -15px
    position: fixed
    display: inline-block
    width: 16%

  .content.menu_opened
    width: 57%
  .content
    .wrap_grey
      padding: 10px
    .col4, .col8
      -webkit-transition: all 0.30s ease-in-out
      -moz-transition: all 0.30s ease-in-out
      -ms-transition: all 0.30s ease-in-out
      -o-transition: all 0.30s ease-in-out
      margin-bottom: 10px
    .col8
      padding-right: 5px
    .col4
      padding-left: 5px
    width: 72%
    padding-right: 0
    padding-left: 8px
    .content_item
      overflow: hidden
      position: relative
      border-radius: 5px
      background-color: red
      min-height: 203px
      .bottom_line
        padding-left: 65px
        padding-top: 12px
        height: 45px
        width: 100%
        background-color: #fff
        position: absolute
        bottom: 0
        background-image: url(../images/persons.png)
        background-repeat: no-repeat
        background-size: 36px 200px
    .content_courses
      background: url(../images/bg_book.png) no-repeat center
      background-size: cover
      .bottom_line

        background-position: 15px -78px
    .content_rasp
      background: url(../images/bg_clock.png) no-repeat center
      background-size: cover
      .bottom_line
        background-position: 15px -78px
    .content_lab
      background: url(../images/bg_pen_organizer.png) no-repeat center
      background-size: cover
      .bottom_line
        background-position: 15px -78px
    .content_pay
      background: url(../images/bg_tablet.png) no-repeat center
      background-size: cover
      .bottom_line
        background-position: 15px -78px

  .achievements
    width: 27%
    padding-right: 20px
.courses_content
  .course_title
    font-size: 18px
  .list_header
    margin-top: 20px
    text-align: center
    font-family: Montserrat-Medium, sans-serif
    font-size: 14px
    &>*:nth-child(4)
      width: 13%
  .list_item
    .current_item:nth-child(4)
      width: 13%
    .current_item:nth-child(5)
      width: 20%
    color: $text_white
    display: inline-block
    margin: 5px 0
    border-radius: 5px
    background-color: $blue
    padding: 10px 0
    width: 100%
    height: 60px
    .item
      vertical-align: middle
    .name
      line-height: 37px
      color: $text_white
      padding-left: 45px
      background: url(../images/lock_unlock.png) no-repeat
      background-size: 20px 126px
      background-position: 10px 2px
    .description
      font-size: 8px
    .progress
      position: relative
      text-align: center
      margin: 12px auto
      width: 90%
      height: 17px
      background-color: $lightblue
      border-radius: 50px
    .positive_progress
      position: absolute
      left: 0
      display: inline-block
      width: 60%
      height: 17px
      border-radius: 50px
      background-color: $green
    .percentage
      display: inline-block
      z-index: 10
      position: absolute
      top: 10px
      left: 47%
    .stars_progress
      width: 90px
      height: 17px
      margin: 12px auto
      background: url(../images/stars.png) no-repeat
      background-size: 173px 12px
      background-position: -32px 0px
    .button
      margin: 2px auto
      display: block
    &:nth-child(2)
      .positive_progress
        width: 20%
      .stars_progress
        background-position: -68px 0px
    &:nth-child(3)
      .positive_progress
        width: 0
      .stars_progress
        background-position: -85px 0px


  .locked
    .current_item
      .name
        background-position: 10px -95px
.rasp
  .scrollable
    overflow-y: scroll
    height: 512px
  .wrap_grey
    padding: 20px 35px
    position: relative
    &:before
      content: ""
      position: absolute
      top: 0
      left: 5%
      width: 90%
      height: 9px
      box-shadow: 0px 15px 3px $lightgrey
      z-index: 1
    &:after
      content: ""
      position: absolute
      left: 5%
      bottom: 120px
      width: 90%
      height: 9px
      box-shadow: 0px -5px 3px $lightgrey
      z-index: 1
  .rasp_content
    padding-right: 0


    .lesson
      background-color: $blue
    .olimp
      background-color: $yellow
    .rasp_item
      padding: 10px
      border-radius: 5px
      margin-top: 10px
      color: $text_white
      font-family: Montserrat-Medium, sans-serif
      .date
        text-align: center
        padding-right: 0
      .description
        font-size: 9px
      .day
        font-size: 34px
        line-height: 27px
        font-family: Montserrat-Bold, sans-serif
      .month
        font-size: 11px
    .explanation
      margin-top: 30px
      font-family: Montserrat-Medium, sans-serif
      font-size: 13px
      .exp_lesson, .exp_olimp
        margin-top: 20px
        min-width: 180px
        padding-left: 20px
        &:before
          vertical-align: -6px
          content: ''
          display: inline-block
          width: 20px
          height: 20px
          background-color: $blue
          border-radius: 10px
      .exp_olimp:before
        background-color: $yellow
  .rasp_news
    .col12, .col6
      padding: 0 5px
    .scrollable_news>*
      padding: 0 5px
    .wrap_grey
      &:after
        bottom: 10px
        left: 1%
        width: 99%
      &:before
        left: 1%
        width: 99%

  .rasp_content.col-md-3
    padding-left: 0

.card_title
  padding-left: 40px
  max-width: 195px
  padding-bottom: 10px
  font-family: Montserrat-Bold, sans-serif
  font-size: 13px
  &:before
    content: ''
    display: inline-block
    position: absolute
    left: 0
    top: 3px
    width: 30px
    height: 30px
    background: url("../images/white_hero.png")
    background-size: 30px 30px

.news_item
  height: 205px
  border-radius: 5px
  overflow: hidden
  color: $text_white
  position: relative
  padding-left: 20px
  margin-top: 10px
  .card_filter
    position: absolute
    left: 0
    opacity: 0.8
    height: 205px
    width: 100%
  .button
    min-width: 110px
    text-align: center
    display: inline-block
    border-radius: 50px
    padding: 10px 20px
    font-family: Montserrat-Bold, sans-serif
    font-size: 9px
    margin-top: 10px
    cursor: pointer
  .card_wrapper
    position: absolute
    bottom: 20px
  .card_description
    font-size: 10px
    font-family: Montserrat-Medium, sans-serif
    max-width: 300px
.filter_yellow
  .card_filter
    background-color: $yellow
  .button
    background-color: $blue
.filter_green
  .card_filter
    background-color: $green
  .button
    background-color: $yellow
.filter_blue
  .card_filter
    background-color: $blue
  .button
    background-color: $yellow

.lab
  .lab_content
    .wrap_grey
      padding-top: 20px
    .card_wrapper
      .button
        padding: 10px 50px
    .news_item
      .card_title:before
        top: -15px
      .card_title
        font-size: 15px
      .card_description
        max-width: 500px
    .arch_title
      font-size: 19px
      font-family: Montserrat-Bold, sans-serif
      margin: 10px 0
    .arch_items
      padding: 0 10px
    .arch_items>*
      padding: 0 5px
    .arch_item
      margin-bottom: 5px
      color: $text_white
      background-color: $blue
      border-radius: 5px
      padding: 5px 20px
      font-size: 11px
      line-height: 25px
    .description
      text-align: center
    .small_button
      font-family: Montserrat-Bold, sans-serif
      height: 25px
      line-height: 25px
      text-align: center
      float: right
.pay
  .pay_content
    .pay_description
      .title
        font-size: 19px
        font-family: Montserrat-Bold, sans-serif
      .text
        padding-right: 10px
        margin-top: 20px
        font-size: 11px
        font-family: Montserrat-Medium, sans-serif
      .payment_cards
        position: absolute
        background: url("../images/payment.png") no-repeat center
        background-size: contain
        width: 90%
        height: 200px
        top: 200px
        left: 5%
  .payment_wrapper
    background-color: #fff
    border-radius: 5px
    font-size: 13px
    padding: 15px
    position: relative
    .label
      margin: 5px 0px
      font-family: Montserrat-Medium, sans-serif
    .payment_item
      position: relative
      width: 100%
      padding-right: 30px
    .bordered, .checker
      display: inline-block
    .bordered
      color: $text_payment_grey
      border: 1px solid $text_payment_grey
      border-radius: 5px
      width: 100%
      padding: 2px 10px
    .repeat
      font-size: 12px
      margin-top: 20px
      margin-left: 0
      width: 100%
      display: inline-block
      position: relative
      padding-right: 30px
      line-height: 22px
    .result_pay
      margin-top: 20px
    .res_value
      padding-left: 5px
      display: inline-block
      color: $text_payment_grey
      font-family: Montserrat-Regular, sans-serif
    .button
      display: inline-block
      width: 120px
      position: absolute
      right: 15px
      bottom: 10px
    .checker
      -webkit-transition: all 0.30s ease-in-out
      -moz-transition: all 0.30s ease-in-out
      -ms-transition: all 0.30s ease-in-out
      -o-transition: all 0.30s ease-in-out
      cursor: pointer
      position: absolute
      right: 0
      top: 0
      width: 30px
      height: 30px
      background: url(../images/things_normal.png) no-repeat
      -webkit-background-size: 590px 67px
      background-size: 590px 67px
      background-position: -562px -2px
      &.checked
        background-position: -562px -37px

  .history
    margin-top: 40px
    padding: 0 20px
    .items_title
      font-family: Montserrat-Medium, sans-serif
      font-size: 13px

      margin-bottom: 10px
    .list_items
      margin-top: 5px
      background-color: #fff
      border-radius: 5px
      padding-top: 5px
      padding-bottom: 5px

    color: $text_payment_grey
.contacts_content
  .col67
    padding-right: 0
  .wrap_grey
    padding-top: 20px
  .support
    color: $text_white
    background-color: $blue
    border-radius: 5px
    padding: 20px
    height: 270px
  .title
    font-size: 18px
    font-family: Montserrat-Bold, sans-serif

  .needed
    font-size: 14px
    font-family: Montserrat-Bold, sans-serif
  .needed_header
    margin-top: 5px
  .needed_item
    padding-left: 30px
    a
      color: $yellow
      text-decoration: underline
  .text
    font-size: 15px
  .feedback
    margin-top: 10px
    height: auto
    color: $text_black
    .title
      color: $text_white
    input, select, textarea
      appearance: none
      padding: 8px 15px
      width: 100%
    .item_wrap
      position: relative
      .fa-caret-down
        position: absolute
        right: 30px
        top: 23px
    .message
      resize: none


    .button
      margin-top: 10px
      float: right
  .mt
    margin-top: 3px
.help_content
  .title
    margin-bottom: 10px
  .clicker
    font-size: 80px
    color: $text_white
    z-index: 1000
    position: absolute
    top: 50%
    left: 50%
    -webkit-transform: translateX(-50%) translateY(-50%)
    transform: translateX(-50%) translateY(-50%)
    cursor: pointer
    border-radius: 50px
    line-height: 0
    box-shadow: 0px 0px 20px black
  .block_wrap
    margin-bottom: 20px
    overflow: hidden
    position: relative
    background-color: black
  .block_header
    position: absolute
    z-index: 1000
  video
    width: 100%
    position: absolute
    top: 50%
    left: 50%
    -webkit-transform: translateX(-50%) translateY(-50%)
    transform: translateX(-50%) translateY(-50%)
    min-width: 100%
    overflow: hidden


.setting
  .block_wrap
    background-color: #ffffff
    margin-top: 15px
    height: auto
  .form_block
    line-height: 32px
    padding-left: 35px
    padding-top: 15px
    .input
      position: relative
    .input>input
      background-color: $lightgrey
      width: 100%
      margin-left: -15px
      font-size: 30px
      padding-left: 50px
      color: transparent
      text-shadow: 0 0 0 black
    .item_img
      top: 11px
      left: -12px
      content: ''
      display: block
      position: absolute
      width: 30px
      height: 30px
      background: url(../images/things_normal.png) no-repeat
      -webkit-background-size: 590px 67px
      background-size: 590px 67px
      background-position: -205px -40px
    .button
      margin: 20px 15px 15px 0
      float: right
      padding-top: 0
  .parents>.input>input
    padding-left: 15px
    font-size: 16px
  .user_img
    width: 105px
    height: 105px
  .upload
    color: $green
    text-decoration: underline
  .user
    .button
      margin: -30px 15px 15px 0
    .photo
      margin: 18px 0 19px 0
      text-align: center
      width: 200px
      .upload
        cursor: pointer

.rasp
  .olimp_rasp_content
    .scrollable
      overflow-y: scroll
      height: 630px
    .wrap_grey
      &:after
        content: ""
        position: absolute
        bottom: 10px
        height: 9px
        box-shadow: 0px -5px 3px $lightgrey
        z-index: 1
.course
  #course_video
    margin-bottom: 0
  .wrap_grey
    padding: 20px
  .hidedown
    margin-top: 800px
  .hideup
    margin-top: -200px
  .block_header
    padding: 20px
    .img_wrap
      text-align: center
    .title
      margin-bottom: 0
    .text
      font-family: Montserrat-Medium, sans-serif
      line-height: 14px
      font-size: 12px
    .button
      margin-top: 30px
      padding-top: 0
      font-family: Montserrat-Medium, sans-serif
  .block_top
    background-color: $blue
    border-radius: 5px
    padding: 20px
    margin-bottom: 20px
    img
      max-width: 100px
