@media screen
  @media (max-width: 1200px)
    body
      .right_wrapper
        font-size: 11pt
      .main
        .menu
          min-width: 185px
          .menu_items
            .menu_item
              .item_wrap
                font-size: 13px
    .main
      .container
        .big_button
          width: 130px
          height: 30px
          font-size: 12px

        .title
          font-size: 15px
        .block_wrap
          .block_header
            font-size: 12px
            line-height: 30px
          .form_block
            padding-top: 5px
            line-height: 25px

    .account
      .bold_text
        font-size: 11px
      .user_stat_wrapper
        .user_courses_done
          margin-right: 20px

    .rasp
      .rasp_content
        .scrollable
          .rasp_item
            .date
              padding-right: 15px
              margin-bottom: 5px
              .day
                font-size: 24px
                line-height: 20px
              .month
                font-size: 10px
            .description
              text-align: center
    .setting
      .wrap_grey
        padding: 10px 20px
        .block_wrap
          margin-top: 5px
          .user
            .photo
              margin: 5px 0 5px 0
              width: 160px
            .upload
              font-size: 12px
          .user_img
            width: 70px
            height: 70px
          .button
            margin-top: 5px
            margin-bottom: 5px

    .contacts
      .contacts_content
        .wrap_grey
          padding: 20px 10px 10px 10px
          .fr
            .support
              height: 225px
              padding-top: 5px
          .mt
            .support
              height: auto
              padding-top: 5px
          .title
            font-size: 14px
          .needed
            font-size: 12px
          .needed_list
            font-size: 12px
          .text
            font-size: 13px
          .btn_right
            margin-top: 10px
            .button
              margin: 10px auto
              float: none

  @media (max-width: 991px)
    body
      .right_wrapper
        .item
          margin: 0
          font-size: 9pt
      .main
        .menu
          min-width: 150px
          .menu_items
            .menu_item
              .item_wrap
                padding-left: 10px
                .item_img
                  display: none
        .courses_content
          .big_button
            margin-top: 5px
          .list_header
            &>*:nth-child(4)
              width: 25%
          .list_item
            .current_item
              &:nth-child(4)
                width: 25%


    .account
      .main
        .container
          .wrap_grey
            padding: 15px 20px
          .achievements
            width: 100%
          .content
            display: none
          .achievements.menu_opened
            width: 84%
    .rasp
      .main
        .rasp_content
          padding-right: 15px
          .wrap_grey
            &:before
              width: 99%
              left: 1%
            &:after
              width: 99%
              left: 1%
    .courses
      .courses_content
        .course_title
          font-size: 16px
        .list_header
          font-size: 12px
        .list_item
          .current_item:nth-child(5)
            width: 25%
          .name
            font-size: 13px
          .button
            font-size: 11px
            width: 120px
    .course
      .help_content
        .video
          position: relative

  @media (max-width: 767px)
    .courses
      .courses_content
        .wrap_grey
          .course_title
            font-size: 16px
          .list_header
            font-size: 12px
          .list_item
            height: auto
            .current_item:nth-child(5),.current_item:nth-child(4)
              width: 100%
            .current_item:nth-child(1)
              text-align: center
            .name
              display: inline-block
              padding-right: 20px
          .progress
            max-width: 400px
    .main
      .container
        .menu.menu_opened
          padding-left: 0
          left: 0
          width: 100%
          text-align: center
        .menu
          .submenu_items
            top: 80px
          .menu_items
            .menu_item
              line-height: 20px
              .item_wrap
                height: 40px
                .item_img
                  display: inline-block
            .menu_item.sub_mt
              margin-top: 120px
        .contacts_content
          .col67
            padding-right: 15px
          .mt
            margin-top: 0
          .wrap_grey
            .support
              margin-top: 10px
              height: auto
    .setting
      .main
        .wrap_grey
          .block_wrap
            margin-top: 15px
    .pay
      .pay_content
        .wrap_grey
          padding: 20px
          .payment_wrapper
            .result_pay
              margin-bottom: 15px
    .lab
      .lab_content
        .wrap_grey
          .news_item
            height: 220px
            .card_filter
              height: 220px
          .description
            text-align: left
          .small_button
            margin-right: -10px
            margin-bottom: 5px
    .course
      .block_top
        text-align: center
        img
          margin-bottom: 10px
  //@media (max-width: 570px)
  //  .entrance

  @media (max-width: 460px)
    .entrance
      .login_form_wrapper
        width: 100%
        height: 360px
        -webkit-border-radius: 0
        -moz-border-radius: 0
        border-radius: 0
  //@media (max-width: 360px)
  //  .entrance

