$inactive: rgb(208,72,67)
$blue: #3CBDEB
$lightblue: #81D8EF
$green: #9CCA3B
$yellow: #F5C814
$lightyellow: #FCCE5B
$grey: #A7A7A7
$lightgrey: #F5F6F6
$text_grey: #444144
$text_white: #ffffff
$text_payment_grey: #8C8C8C
$payment_bg: #F5F6F6
$hover_text_white: #eeffee
$text_black: #39474A

@font-face
  font-family: "Montserrat-Black"
  src: url("../fonts/Montserrat/Montserrat-Black.ttf")
  font-style: normal
  font-weight: normal


@font-face
  font-family: "Montserrat-Medium"
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf")
  font-style: normal
  font-weight: normal

@font-face
  font-family: "Montserrat-MediumItalic"
  src: url("../fonts/Montserrat/Montserrat-MediumItalic.ttf")
  font-style: italic
  font-weight: normal

@font-face
  font-family: "Montserrat-Regular"
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf")
  font-style: normal
  font-weight: normal

@font-face
  font-family: "Montserrat-SemiBold"
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf")
  font-style: normal
  font-weight: bold

@font-face
  font-family: "Montserrat-SemiBoldItalic"
  src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf")
  font-style: italic
  font-weight: bold

@font-face
  font-family: "Montserrat-Thin"
  src: url("../fonts/Montserrat/Montserrat-Thin.ttf")
  font-style: normal
  font-weight: 100


@font-face
  font-family: "Montserrat-Italic"
  src: url("../fonts/Montserrat/Montserrat-Italic.ttf")
  font-style: italic
  font-weight: 100

@font-face
  font-family: "Montserrat-Light"
  src: url("../fonts/Montserrat/Montserrat-Light.ttf")
  font-style: normal
  font-weight: 200

@font-face
  font-family: "Montserrat-LightItalic"
  src: url("../fonts/Montserrat/Montserrat-LightItalic.ttf")
  font-style: italic
  font-weight: 200

@font-face
  font-family: "Montserrat-BlackItalic"
  src: url("../fonts/Montserrat/Montserrat-BlackItalic.ttf")
  font-style: italic
  font-weight: normal

@font-face
  font-family: "Montserrat-Italic"
  src: url("../fonts/Montserrat/Montserrat-Italic.ttf")
  font-style: italic
  font-weight: normal

@font-face
  font-family: "Montserrat-Bold"
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf")
  font-style: normal
  font-weight: bold

@font-face
  font-family: "Montserrat-BoldItalic"
  src: url("../fonts/Montserrat/Montserrat-BoldItalic.ttf")
  font-style: italic
  font-weight: bold

@font-face
  font-family: "Montserrat-ExtraBold"
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf")
  font-style: normal
  font-weight: 900

@font-face
  font-family: "Montserrat-ExtraBoldItalic"
  src: url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf")
  font-style: italic
  font-weight: 900

@font-face
  font-family: "Montserrat-ExtraLight"
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf")
  font-style: normal
  font-weight: 100

@font-face
  font-family: "Montserrat-ExtraLightItalic"
  src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf")
  font-style: italic
  font-weight: 100